@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


* { margin:0; padding:0; box-sizing: border-box; }
li {list-style-type: none;}
a { text-decoration: none; color:#333; display: block;
    font-family: 'Noto Sans KR', sans-serif;
}
/* a태그에 마우스 오버하면 글자색 회색으로 변경 */
a:hover
img {color:grey;}
body { font-family: 'Noto Sans KR', sans-serif; }
/* 헤더 */
header {
   height:130px;
   background: white;
   width:1200px;
   margin:0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position:fixed;
   z-index: 10;
   top:0;
   left:50%;
   transform:translateX(-50%);
    /* margin:0 auto; */
    /*가로 간격 일정하게*/
      /*세로 가운데 정렬*/
    /* 헤더를 브라우저의 맨 위에 고정시키기 */
    /* header가 section보다 앞으로 나오도록 순서 변경 */

}
/* 헤더에 active 클래스 추가하기 */
header.active {
    height:60px;
}
/* 로고 */
header .logo {
    width:150px;
}
/* 내비게이션(GNB:Global Navigation Bar) */
header nav {
    width:500px;
    height:30px;
}
/* 직속 자식 선택자 : > */
header nav > ul {
    /* 자식 객체 li를 가로(row:행기준)로 나열 */
    display: flex;
    /* 균등 정렬 */
    justify-content: space-between;
}
/* 서브메뉴(.sub)의 위치 설정할 때 기준은 부모객체 li가 됨 */
header nav > ul > li {
    position: relative;
}
/* 주메뉴의 글자 크기 작게 - 직속 자식 선택자*/
header nav > ul > li > a {
    font-size: 15px;
    /* 주메뉴와 서브메뉴의 거리 조절(간격) */
    padding-bottom:20px;
    /* margin-bottom: 20px; */
}
/* 서브메뉴 - 하위 선택자*/
header nav .sub {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left:50%;
    transform:translateX(-50%);
}
header nav .sub li a {
font-size: 10px;
color: white;
}
/* 주메뉴에 마우스 오버했을 때 서브메뉴 나타남 */
header nav > ul > li:hover .sub {
    opacity: 1;
    visibility: visible;
    width: 150px;
    background-color: #3f3f3f;
    text-align: center;
    padding: 20px;
    color:white;
}
/* 서브메뉴에 마우스 오버했을 때 서브메뉴 글자색 변경 */
header nav .sub li a:hover {
    color:#ccc;
    text-align: center;
}

/* header안의 자식 객체 .top_menu를 가리킴, 띠어쓰기(하위선택자) */
header .top_menu {
    width:280px;
}
header .top_menu ul {
    display: flex;
    justify-content: space-between;
}
header .top_menu ul li a {
    font-size: 15px;
    position: relative;
}

header .top_menu ul li img{
    position: relative;
}

/* 장바구니 위에 숫자 0 넣기 */
header .top_menu ul li:last-child a:after {
    color: white;
    content: '0';
    font-size: x-small;
    position: absolute;
    top: 18%;
    left: 27%;
}

/* 본문 */
section {
    width:1200px;
    
    /* 브라우저의 가운데로 정렬 */
    margin:0 auto; 
}
section .banner {
    width:100%; 
    height:1500px;
    /* 자식객체들(div.box)을 열기준으로 정렬 */
    display: flex;
    flex-flow:column wrap; /*열기준, 줄바꿈 허용*/
    /* justify-content:space-between;  */
    align-content:space-between;
    margin-top: 20px;
}
section .banner .box {
    width:384px;
    margin-top:40px;
}
#box1,
#box2,
#box3,
#box4,
#box5,
#box6{
    background-color: #eeeeee;
    margin-right:30px;
}
section .banner .box h2 {
    margin-top: 30px;
    font-weight: 400;   /*글자 보통 굵기로*/
}
section .banner .box p {
    font-size:14px;
    margin-top: 30px;
    
}
/* 푸터(footer) */
footer {
    width:100%;
    background-color: #f8f8f8;
}
footer .footer_wrap {
    width:1000px;
    margin:0 auto;
    display: flex;
    flex-flow:row nowrap;   /*행기준 줄바꿈 금지*/
    justify-content: space-between;
}
footer .footer_wrap .about ul li a {
    font-size:11px;
    padding:5px;
    white-space: nowrap;    /*글자 줄바꿈 방지*/
}
/* 푸터의 about영역의 메뉴에 마우스 오버하면 밑줄 나옴 */
footer .footer_wrap .about ul li a:hover {
    text-decoration: underline;
    color:#333;
}
/* 푸터의 about영역의 세번째 메뉴만 굵게 */
footer .footer_wrap .about ul li:nth-child(3) a {
    font-weight: bold;
}
footer .footer_wrap h3 {
    font-size:11px;
    font-weight: normal;
    line-height:30px;
}
footer .footer_wrap b {
    font-weight: normal;
    line-height:30px;
}
footer .footer_wrap p {
    font-size:11px;
    line-height:20px;
}
footer .footer_wrap address {
    font-style:normal;     /*기울어지지 않게*/
    font-size:11px;
    line-height:20px;
    margin-bottom: 24px;
}
/* 탑버튼(TOP) */
.top {
    position: fixed;
    bottom:30px;
    right:40px;
}